<!DOCTYPE html>
<html>
<head>
  <title>Taggr</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.4.2.min' %>
  <%= javascript_include_tag 'highcharts' %>
<!--[if IE]>
  <%= javascript_include_tag 'excanvas.compiled' %>
<![endif]-->
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
